body {
  background-color: darkslategrey;
}

.primary--1IbqAO {
  background-color: #FFFFFF;
  border: 3px solid #FFFFFF;
  color: #2F4F4F;
}

.primary--1IbqAO:hover {
  color: #2F4F4F!important;
}

.speaking--Z2tUpzD button {
  color: #FFFF00!important;
}
