p {
    font-weight: 500;
}

a{
    color: #39d39f ;
}

a:hover {
    color: #39d39f !important;
    text-decoration: none !important;
}

.fs-small {
    font-size: 16px !important;
}
.btn-pill {
    border-radius: 200px;
}

#SubscribeModal input {
    width: 100%;
    border-radius: 30px;
    box-shadow: 0 10px 24px 0 hsl(210deg 8% 54% / 16%);
    border: 1px solid transparent;
    padding: 14px 20px;
    font-size: 16px;
    color: #6c767f;
    transition: box-shadow .3s cubic-bezier(.645,.045,.355,1);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

#SubscribeModal .btn-primary {
    background-color: #39D39F;
    box-shadow: 0 4px 8px 0 rgb(18 196 139 / 32%);
    padding-top: 12px;
    padding-bottom: 12px;
    width: 100%;
}
#SubscribeModal .btn-primary:hover {
    box-shadow: 0 6px 10px 0 rgb(18 196 139 / 64%);
}
.modal-content {
    background-color: #f9fbfc;
}

.img-place {
    float:right;
}

.addon-footer {
    position: absolute;
    left: 15px;
    bottom: 20px;
}

@media only screen and (max-width:991px) {
    .page-hero-section {
        position: relative;
        height: auto;
        padding: 40px 0 !important;
    }

    .addon-footer {
        position: absolute;
        left: 0;
        bottom: -30px;
        text-align: center;
        width: 100%;
    }
    .img-place {
        float:none;
    }
}

.social-media {
    float: right;
    margin-top: -3px;
    margin-left: 5px;
}

.social-media a:hover {
    color: #c1f6e5 !important;
    text-decoration: none !important;
}

.btn:focus, .btn.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem #d5fff1;
}

.main-bg {
    background-image: url(../../assets/img/bg_doodle.svg),linear-gradient(
        219deg
        , rgba(57, 211, 160, 0.514) 0%, rgba(255,255,255,1) 58%);
    background-size: cover;
}