<footer class="bg-light" id="contactsSection">
  <div class="container pb-1 pb-lg-4">
    <div class="row content-space-t-2">
      

        <div class="col-lg-3 mb-7 mb-sm-0">
            <h5 class="mb-3">Navigate</h5>
    
            <!-- List -->
            <ul class="list-unstyled list-py-1 mb-0">
              <li><a class="link-sm link-secondary" href="#homeSection">Home</a></li>
              <li><a class="link-sm link-secondary" href="#securitySection">Security</a></li>
              <li><a class="link-sm link-secondary" href="#newsSection">News</a></li>
              <li><a class="link-sm link-secondary" href="#contactsSection">Contact</a></li>
            </ul>
            <!-- End List -->
          </div>
          <!-- End Col -->

      <div class="col-lg-4 mb-7 mb-lg-0">
        <h5 class="mb-3">Company</h5>

        <!-- List -->
        <ul class="list-unstyled list-py-1">
            <li><a class="link-sm link-secondary" href="#"><i class="bi-geo-alt-fill me-1"></i> 156 2nd Street, San Francisco, <br>
               &nbsp;&nbsp;&nbsp;&nbsp; CA 94105, United States</a></li>
            <li><a class="link-sm link-secondary" href="tel:+1 415 890 3925"><i class="bi-telephone-inbound-fill me-1"></i> +1 415 890 3925</a></li>
            <li><a class="link-sm link-secondary" href="mailto:hello@mongrov.com"><i class="bi-envelope-fill me-1"></i> hello@mongrov.com</a></li>
        </ul>
        <!-- End List -->
      </div>
      <!-- End Col -->
   

      <div class="col-md-5">
        <h5 class="mb-3">Subscribe</h5>
        <p>The latest ஒ-App news, articles, and resources, sent straight to your inbox every month.</p>
        <form action="https://formspree.io/f/myybvplq" method="post">
            <div class="mb-3 d-grid">
              <input type="email" class="form-control mb-2" placeholder="Email Address" name="Subscribed Email for TamilO" required="">
              <button type="submit" class="btn btn-primary btn-lg" data-loading-text="Sending">
               <span>Subscribe</span>
              </button>
            
            </div>
        </form>
      </div>
      <!-- End Col -->
    </div>
    <!-- End Row -->

    <div class="border-top my-5"></div>

    <div class="row mb-0">
      <div class="col-sm mb-3 mb-sm-0">
        <!-- Socials -->
        <p class="text-muted small">&copy;2021 Mongrov, Inc. All rights reserved.</p>
        <!-- End Socials -->
      </div>

      <div class="col-sm-auto">
        <!-- Socials -->
        <ul class="list-inline mb-0">
          <li class="list-inline-item">
            <a class="btn btn-soft-secondary btn-xs btn-icon" href="https://www.facebook.com/taotamil" target="_blank">
              <i class="bi-facebook"></i>
            </a>
          </li>
          
          <li class="list-inline-item">
            <a class="btn btn-soft-secondary btn-xs btn-icon" href="https://twitter.com/taotamil" target="_blank">
              <i class="bi-twitter"></i>
            </a>
          </li>
          
          <li class="list-inline-item">
            <a class="btn btn-soft-secondary btn-xs btn-icon" href="https://www.instagram.com/taotamil" target="_blank">
              <i class="bi-instagram"></i>
            </a>
          </li>
          
          
        </ul>
        <!-- End Socials -->
      </div>
    </div>

    
  </div>
</footer>